.App {
  display: grid;
  grid-template-columns: 100vw;
  justify-items: center;
  background-color: #619B8A;
  height: 100vh;
}

h1 {
  font-family: "Bungee Shade", cursive;
  color: #203746;
  font-size: 3rem;
}